parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - tests
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    checkUninitializedProperties: true
    checkPhpDocMethodSignatures: true
    checkPhpDocTypes: true
    checkThisOnly: false
    checkUnionTypes: true
    checkExplicitMixedMissingReturn: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkTooWideParameterTypesInProtectedAndPublicMethods: true
    checkMissingClosureNativeReturnTypehintRule: true
    checkMissingCallableNativeReturnTypehintRule: true
    checkMissingIterableValueTypehintRule: true
    checkMissingCallableSignatureTypeshintRule: true
    checkMissingVarDocTypehintRule: true
    checkMissingPropertyTypehintRule: true
    checkMissingMethodReturnTypehintRule: true
    checkMissingMethodParameterTypehintRule: true
    checkMissingFunctionReturnTypehintRule: true
    checkMissingFunctionParameterTypehintRule: true
    checkMissingClosureParameterTypehintRule: true
    checkMissingClosureReturnTypehintRule: true
    checkTooWidePropertyTypes: true
    checkNullables: true
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
